<mat-tab-group class="tab-live-list">
  <mat-tab label="PROXIMAS">
    <div fxLayout="row" fxLayoutAlign="start center" class="layout-tab">
      <div class="card-lives">
        <mat-card
        fxFlex="0 1 calc(33.33% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlexlt-sm="100%">
          <mat-card-header>
            <p>manja mt mano</p>
          </mat-card-header>
          <mat-card-content>
            <p>
              blablblavlavlvlasadaghsdkahdkahdkhakdhakdh
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="REALIZADAS"> Content 2 </mat-tab>
</mat-tab-group>
